html, body {
    width: 600px;
    max-height: 700px;
}

.bd-main {
    padding: 1.5rem;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    border-width: .2rem;
}

.form-group {
    padding-top: 1rem;
}


.form-inline {
    padding-bottom: 20px;
}